 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 21px auto 0 142px;
}

.u-section-1 .u-form-1 {
  height: 425px;
  margin: 22px 30px 21px 54px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-1 {
    width: 470px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-2 {
    width: 470px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-4 {
    width: 470px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-5 {
    width: 470px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 89px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-2 {
    width: 340px;
  }

  .u-section-1 .u-form-group-4 {
    width: 340px;
  }

  .u-section-1 .u-form-group-5 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 915px;
}

.u-section-2 .u-text-1 {
  margin: 21px auto 0 66px;
}

.u-section-2 .u-form-1 {
  height: 413px;
  background-image: none;
  margin: 43px 514px 0 56px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-list-1 {
  width: 527px;
  margin: -42px 93px 43px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 385px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 0 7px 11px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px -65px 0 66px;
}

.u-section-2 .u-text-3 {
  margin: 12px 2px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 0 7px 11px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px -65px 0 66px;
}

.u-section-2 .u-text-5 {
  margin: 12px 2px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 17px 0 7px 11px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px -65px 0 66px;
}

.u-section-2 .u-icon-3 {
  vertical-align: 0px;
}

.u-section-2 .u-text-7 {
  margin: 12px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 556px;
}

.u-section-3 .u-group-1 {
  width: 1070px;
  --radius: 50px;
  height: auto;
  min-height: 442px;
  box-shadow: 12px 0px 8px 0px rgba(128,128,128,1);
  margin: 57px 18px 57px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
}